<style>

</style>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enhle-Imbali Naledi Mokholo</h1>
    <p>Computer Science student and Aspiring network engineer</p>
    <a asp-action="DownloadCV" class="btn btn-primary" >Download CV</a>
</div>

 <br/>
 <br/>



<div class="row">

<div class="col-md-6">
    <div class="card" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4" style="height: 200px; overflow: hidden;">
                <img src="~/Images/professional_photo.jpg" class="w-100 h-100" style="object-fit: cover;" alt="Profile pic">
             </div>
             <div class="col-md-8">
                 <div class="card-body">
                <h5 class="card-title">Enhle-Imbali Naledi Mokholo</h5>
                <p class="card-text">
                    is a passionate computer science student who aspires to be a network engineer.
                    They have a strong desire to achieve the most optimal results, through team collaboration and efficiency.
                </p>
                 </div>
             </div>
         </div>
    </div>
</div>

    <div class="col-md-6">
        <div class="card" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Skills</h5>
                        <p class="card-text">
                           
                            <div class="row">
                                <div class="col-md-6">
                            <ul>
                                <li>Network Security</li>
                                <li>Object Oriented Programming</li>
                                <li>Understanding of Network Protocols</li>
                                <li>Unit Testing</li>
                                <li>Program Coding</li>
                                <li>Data Structures</li>
                                <li>Understanding of Office365</li>
                            </ul>
                                </div>

                                <div class="col-md-6">
                            <ul>
                                <li>Cloud Technologies</li>
                                <li>Critical Thinking</li>
                                <li>Problem Solving</li>
                                <li>Database Management (SQL and NoSQL)</li>
                                <li>Able to collaborate</li>
                            </ul>
                                 </div>


                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-0">
    <div class="col-md-8">
        <div class="card" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Experience</h5>
                        <p class="card-text">
                          <ul>
                              <li>Meals On Wheels Ministry (2023-2024)
                              <li>Java Programming Tutor (2025-2026)</li>
                          </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


